@use "../settings/variables";

.g-menu {
    display: block;
    list-style: none;
    padding: 0;
    &__item {
        padding: 0.6em 0;
        text-align: center;
    }
    &__link {
        color: variables.$text-color;
        text-decoration: none;
        // transition: all .4s;
        &:hover {
            color: variables.$primary-color;
        }
        &--active {
            background: variables.$primary-color;
            border-radius: 16px;
            padding: 0.5em 1em;
            color: white;
            &:hover {
                color: white;
            }
            i {
                color: white;
            }
        }
    }
    &__icon {
        margin-right: 8px;
    }
}